/* top */
*{
    margin: 0;
    padding: 0;
    user-select: none;
    color:rgb(100, 100, 100);
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
.message{
    color: red;
}

html{
    height: 100%;
}
body{
    height: 100%;
}
.main{
    text-align: center;
    background-size: cover;
    background-position: center, center;
    background-color: rgba(0,0,0,.5r);
    background-image: url(../photos/top.png);
    background-blend-mode:darken;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    border: 5px solid #ffa600;
    background-color: #ffbe92;
    border-radius: 50px;
    color:rgb(185, 99, 0);
    max-width:1000px;
}
.btn-box{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.btn{
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 25px;
    width: 50%;
    margin: 0 auto;
}
.btn:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.go {
    background-color: #adfffb;
    box-shadow: 0 5px 0 #88cac7;
    border: 1px solid #7db8b5;
}
.give_up{
    background-color: rgb(255, 205, 205);
    box-shadow: 0 5px 0 rgb(197, 158, 158);
    border: 1px solid#bd9db3;
    margin-top: 20px;
}

/* name*/
.name_form{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    padding-top: 50%;
    /* display:none; */
}
.name_input{
    /* border-radius:10px 0 0 10px; */
    padding: 5px;
    outline: none;
    text-align: center;
    padding: 5px 25px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
.name_submit{
    margin-top: 20px;
    background-color: rgb(202, 248, 237);
    border: 3px solid #9cd6d3;
    border-radius: 50px;
}
.black{
    width:100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.8);
    display: none;

}
.confirmation-rapper{
    padding-top: 50%;
}

.confirmation-box > p, .confirmation-box > h1{
    color:#ffa600;
    z-index: 10;
    margin-top: 10px;
}
.confirmation-box .btn{
    background-color: rgb(109, 109, 109);
    width:40%;
    padding: 10px 
}
/* story部分 */
.story{
    padding-top:20%;
}
.story p {
    display: none;
    margin-top: 5%; 
    font-size: 4vw;
}
.story .skip{
    display: none;
    position:fixed;
    bottom: 5%;
    right: 10%;
    font-size: 10vw;
    border-bottom: 3px solid
}


/* index */
.answer-button{
    margin: 20px;
    background-color: red;
}
.result{
    display: none;
}

/* game-over */
.game_over{
    font-size: 5em;
    text-align: center;
    /* margin-top: 10px; */
}

.retry{
    margin-top: 50px;
    border: 1px solid ;
    border-radius: 50px;
    padding: 2px 10px;

}

.death-reason{
    margin-top: 20px;
}